@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

$color-primary: #F1BC52;
$color-secondary: #03444A;
$color-tertiary: #00A8A8;
$color-shadow: #9AD3DA;
